@import "colors.css";

/* Universal settings */
* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
}

/* Waybar background and text */
window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;
  color: @on_surface; /* Default text color */
}

/* Workspaces */
#workspaces {
  background-color: @surface_container_high;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 4px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 8px;
  padding: 0 8px;
  color: @on_surface; /* Inactive workspace text */
  background: @surface_container;
}

#workspaces button:hover {
  background-color: @surface_container_highest;
  color: @on_surface;
}

#workspaces button.active {
  background-color: @primary;
  color: @on_primary;
}

#window {
  background-color: @surface_container_high;
  color: @on_surface;
  padding: 6px 12px;
  margin: 6px 0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}

/* Tray */
#tray {
  padding: 0 10px;
  background: @surface_container_high;
  color: @on_surface_variant;
}

/* Tooltip */
tooltip {
  background: @surface_container;
  color: @on_surface;
  border-radius: 8px;
  padding: 6px;
}

#window {
  color: @primary;
}

#mpris,
#privacy,
#pulseaudio,
#network,
#clock {
  min-height: 0;
  padding: 2px 10px;
  border-radius: 8px;
  margin: 3px 3px;
  background: @surface_container_high;
  color: @primary;
}
